* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* from this navigation css will be used  */
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

/* Here i use CSS combinators */
.left-nav>img {
    width: 60px;
    height: 60px;
}

.navigation>.left-nav {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.navigation>.left-nav>input {
    background-color: lightblue;
    width: 300px;
    padding: 8px;
    border: none;

}

.navigation>.left-nav>input:hover {
    padding: 10px;
    transition: 0.3s ease-out;
}

.navigation>.right-nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: gray;
}

.navigation>.right-nav>ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
    gap: 30px;
    margin-right: 100px;
}

.icon>img {
    width: 30px;
}

.navigation>.right-nav>ul>a {
    text-decoration: none;
    color: gray;
}

.navigation>.right-nav>ul>a :hover {
    background-color: gainsboro;
    transform: translateY(5px);
    transition: 0.5s ease-in-out;
}

/* from this navigation css will be end  */

.selcet-wrapper {
    width: 10px;
}

/* from this we will style left section pannel */
.section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    width: 100vw;
    height: 300vh;
    box-sizing: border-box;
    position: relative;

}

p,
hr {
    color: gray;
}


.left-section {
    width: 20vw;
    height: 80vh;

}

.user-info {
    border: 2px solid gray;
    border-radius: 10px;

}

#bg {
    /* for background color behind image  */
    background-color: blue;
    width: 100%;
    height: 100px;
}

#profile>img {
    width: 100px;
}

#profile {
    position: relative;
    bottom: 50px;
    text-align: center;

}

.bottom-user-info {
    margin: 0px 10px 10px 10px;
}

.user-bottom {
    margin: 10px;
}

span {
    color: blue;
    font-size: 20px;
}

#top,
#bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 50px;
}

#in {
    display: flex;
    gap: 10px;
}

.recent-activity {
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.recent-activity>p {
    padding: 5px;
}

/*left section pannel end */


/* mid section style  */
.mid-section {
    width: 50vw;
    height: 200vh;
    position: absolute;
    left: 300px;
    top: 0px;


}


.mid-top-section-one {
    display: flex;
    flex-direction: row;

}

.mid-top-section-one>input {
    width: 500px;
    padding: 2px;
    border-radius: 40px;
    margin-left: 10px;
}

.mid-top-section-one>img {
    width: 80px;


}

.mid-top-section-two>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: gray;
    margin-top: 20px;
    text-align: center;
    width: 90%;
}

.mid-mid-section {
    margin: 50px;
    border: 1px solid gray;
    padding: 10px;
}

.top-mid-mid-section-icon-left {
    display: flex;
    justify-content: flex-start;
}

.top-mid-mid-section-icon-left>img {
    width: 100px;
}

.top-mid-mid-section {
    display: flex;
    justify-content: space-between;
}

.mid-mid-image>img {
    margin-top: 30px;
    width: 100%;
}

.mid-mid-image>ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.mid-bottom-section {
    border: 1px solid gray;
    padding: 20px;
}

.mid-bottom-section>ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

/* end mid section styles  */

/* right section styles */
.right-section {
    width: 20vw;
    height: 200vh;
    position: absolute;
    left: 999px;
    top: 0px;
}

.top-right-section,
.mid-right-section {
    border: 1px solid gray;
    padding: 30px;
}

.left-right,
.top-bottom-right-section {
    display: flex;
    justify-content: space-between;
}

.top-bottom-right-section>ul>li {
    margin-top: 10px;
    padding: 10px;
}

.mid-right-section,
.bottom-right-section {
    margin-top: 50px;
    border: 1px solid gray;
    padding: 15px;
}

.bottom-mid-right-left img {
    width: 100px;
}

.bottom-mid-right-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;


}

.follow-button>h3 {
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

/* end right section styles */